
[alias]
   co = checkout
   ci = commit
   st = status
   br = branch
   sw = switch
   hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
   ff = merge --ff-only
# automatically create the brance upstream. Defaults to origin.
   pushu = !git push --set-upstream $(git config checkout.defaultRemote || echo origin) $(git rev-parse --abbrev-ref HEAD)
   cp = cherry-pick
   # switches and pulls the branch, but exits with error if there are uncommitted changes
   swp = "!f() { git fetch; git switch $1 && git pull || (git fetch && exit 1); }; f"

[color]
   branch = auto
   diff = auto
   interactive = auto
   showbranch = auto
   status = auto
   ui = auto

[color "diff"]
   whitespace = red reverse

