
[alias]
   co = checkout
   ci = commit
   st = status
   br = branch
   hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
   ff = merge --ff-only
   pushu = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
   cp = cherry-pick

[color]
   branch = auto
   diff = auto
   interactive = auto
   showbranch = auto
   status = auto
   ui = auto

[color "diff"]
   whitespace = red reverse

